@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100vh; }

/* TEXTOS */
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  text-transform: uppercase; }

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: xx-large; }

h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: x-large; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: x-large; }

a {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none; }

p {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: medium; }

/* BOTONES */
button {
  font-family: 'Ubuntu', sans-serif;
  background-color: #B2A4FF;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }
  button:hover {
    background-color: black;
    color: white; }

header {
  display: flex;
  justify-content: space-evenly;
  background-color: #B2A4FF;
  padding-bottom: 5px; }
  header div img {
    width: 100px; }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    header nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      list-style: none; }
      header nav ul li a {
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        color: black; }
        header nav ul li a:hover {
          text-decoration: underline; }

/*
.home-slider1{
    background-image: url(../assets/img/img-slider1.jpg);
    height: 500px;
    background-position: center; /* Center the image */
/*background-repeat: no-repeat; /* Do not repeat the image */
/*background-size: cover; /* Resize the background image to cover the entire container */
/* opacity: 50%; 
}
*/
/*
.slider1-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
}
*/
.main-intro {
  height: 200px;
  background: #9700ab;
  background: linear-gradient(0deg, #9700ab 0%, #b2a4ff 100%); }
  .main-intro h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 20px; }
  .main-intro p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: medium;
    color: white; }

.service-cards, .service-cards .card, .bio-container .card {
  display: flex; }
  .service-cards .card, .bio-container .card .card {
    display: flex;
    flex-direction: column;
    flex: 50%;
    margin: 10px;
    border: 5px solid #B2A4FF; }
    .service-cards .card .contenido, .bio-container .card .card .contenido {
      flex-grow: 1;
      flex-shrink: 1; }
      .service-cards .card .contenido h2, .bio-container .card .card .contenido h2 {
        text-align: center; }
    .service-cards .card .card-cta, .bio-container .card .card .card-cta {
      background-color: white;
      padding: 10px;
      text-align: center; }

/*
.servicios-container{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

.servicio{
    display: flex;
    overflow: hidden;
    width: 400px;
    /* border: 2px solid black; */
/* box-shadow: 3px 3px 5px grey; 
    margin: 20px;
}*/
/*
.servicio img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dis-web{
    background-image: url(../assets/img/img-servicios-web.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 20px 20px 20px 20px;
}

.dis-marca{
    background-image: url(../assets/img/img-servicios-marca.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 20px 20px 20px 20px;
}

.dis-redes{
    background-image: url(../assets/img/img-servicios-redes.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 20px 20px 20px 20px;
}
*/
.service-cards, .service-cards .card, .bio-container .card {
  display: flex; }
  .service-cards .card, .bio-container .card .card {
    flex-direction: column;
    flex: 50%;
    margin: 10px;
    border: 5px solid #B2A4FF; }
    .service-cards .card .contenido, .bio-container .card .card .contenido {
      flex-grow: 1;
      flex-shrink: 1; }
      .service-cards .card .contenido h2, .bio-container .card .card .contenido h2 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px; }
      .service-cards .card .contenido div img, .bio-container .card .card .contenido div img {
        width: 50%;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto; }
  .service-cards .card-cta a, .bio-container .card .card-cta a {
    display: block;
    background-color: #B2A4FF;
    padding: 10px;
    text-align: center; }
    .service-cards .card-cta a:hover, .bio-container .card .card-cta a:hover {
      background-color: black;
      color: white; }

.bio-container {
  display: flex; }
  .bio-container .card {
    flex-direction: column;
    flex: 50%;
    margin: 10px; }
    .bio-container .card .contenido {
      flex-grow: 1;
      flex-shrink: 1; }
      .bio-container .card .contenido div img {
        width: 25%;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px; }
  .bio-container .card-cta {
    background-color: white;
    padding: 10px;
    text-align: center; }

.portfolio-cards {
  display: flex;
  flex-direction: row;
  padding-top: 50px; }
  .portfolio-cards .card {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    width: 500px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 7px 24px -8px rgba(138, 135, 138, 0.68); }
    .portfolio-cards .card .contenido {
      flex-grow: 1;
      flex-shrink: 1; }
      .portfolio-cards .card .contenido h2 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px; }
      .portfolio-cards .card .contenido div img {
        width: 50%;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto; }
  .portfolio-cards .card-cta a {
    display: block;
    background-color: #B2A4FF;
    padding: 10px;
    text-align: center; }
    .portfolio-cards .card-cta a:hover {
      background-color: black;
      color: white; }

.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .contacto-container img {
    object-fit: contain;
    width: 25%;
    overflow: hidden; }

/*
footer{
    background-color: $color-principal;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}


.menu-footer{
     list-style: none;
     font-family: 'Ubuntu', sans-serif;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     gap: 10px;
     padding-top: 30px;
 }

.footer a{
     color: $color-terciario;
 }
 */
footer {
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  position: fixed; }
  footer ul {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 30px; }
    footer ul li a {
      color: white; }
      footer ul li a:hover {
        text-decoration: underline; }

@media (max-width: 768px) {
  header {
    background-color: #B2A4FF;
    flex-direction: column;
    align-items: center; }
  .service-cards, .service-cards .card, .bio-container .card {
    flex-direction: column; }
  .bio-container {
    flex-direction: column; }
  .portfolio-cards {
    flex-direction: column;
    align-items: center; }
    .portfolio-cards .card {
      width: 90%; }
  footer ul {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 1024px) {
  .service-cards, .service-cards .card, .bio-container .card {
    flex-direction: column; } }
