footer{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}


.menu-footer{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 30px;
}

.footer a{
    color: white;
}