header{
    display: flex;
    justify-content: space-evenly;
    background-color: $color-secundario;
    padding-bottom: 5px;
    div img{
        width: 100px;
    }
    nav{
        @include flex;
        ul{
        @include flex;
        list-style: none;
            li{
                a{
                    font-family:'Ubuntu', sans-serif;
                    text-decoration: none;
                    color: $color-principal;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}