

.bio-container{
    display: flex;
    .card{
        @extend .service-cards;
        flex-direction: column;
        flex: 50%;
        margin: 10px;
      .contenido{
        flex-grow: 1;
        flex-shrink: 1;
        div img{
        width: 25%;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px;
        }
        }
      }
      .card-cta{
        background-color: $color-terciario;
        padding: 10px;
        text-align: center;
      }
    }