/*
.home-slider1{
    background-image: url(../assets/img/img-slider1.jpg);
    height: 500px;
    background-position: center; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover; /* Resize the background image to cover the entire container */
  /* opacity: 50%; 
}
*/
/*
.slider1-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
}
*/
.main-intro{
  height: 200px;
  background: rgb(151,0,171);
  background: linear-gradient(0deg, rgba(151,0,171,1) 0%, rgba(178,164,255,1) 100%);
    h1{
      font-family: 'Ubuntu', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      color: $color-principal;
      text-align: center;
      padding: 20px;
    }
    p{
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
      padding-top: 20px;
      font-size: medium;
      color: $color-terciario;
    }
}

// .card{
//   display: flex;
//   flex-direction: column;
//   flex: 50%;
//   margin: 10px;
//   border: 5px solid $color-secundario;
// }

// .card-cta{
//   background-color: $color-terciario;
//   padding: 10px;
// }

// .service-cards{
//   display: flex ;
// }

// .card{
//   .contenido{
//     flex-grow: 1;
//     flex-shrink: 1;
//   }
// }

.service-cards{
  display: flex;
  .card{
      display: flex;
      flex-direction: column;
      flex: 50%;
      margin: 10px;
      border: 5px solid $color-secundario;
      box-shadow: 2px 7px 24px -8px rgba(138,135,138,0.68);
    .contenido{
      flex-grow: 1;
      flex-shrink: 1;
      h2{
        text-align: center;
      }
    }
    .card-cta{
      background-color: $color-terciario;
      padding: 10px;
      text-align: center;
    }
  }
}