
.portfolio-cards{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    .card{
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        width: 500px;
        margin: 10px;
        border: 3px solid $color-principal;
        border-radius: 20px 20px 0 0;
        box-shadow: 2px 7px 24px -8px rgba(138,135,138,0.68);
      .contenido{
        flex-grow: 1;
        flex-shrink: 1;
        h2{
          text-align: center;
          padding-top: 10px;
          padding-bottom: 20px;
        }
        div img{
        width: 50%;
        height: auto;
        margin-bottom: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        }
        }
      }
      .card-cta a{
        display: block;
        background-color: $color-secundario;
        padding: 10px;
        text-align: center;
        &:hover{
            background-color: $color-principal;
            color: $color-terciario;
      }
    }
}