@media (max-width:768px){
    header{
    background-color: #B2A4FF;
        flex-direction: column;
        align-items: center;
    }
    .service-cards{
        flex-direction: column;
    }
    .bio-container{
        flex-direction: column;
    }
     .portfolio-cards{
        flex-direction: column;
        align-items: center;
        .card{
            width: 90%;
        }
     }
}
