/* BOTONES */

button{
    font-family: 'Ubuntu', sans-serif;
    background-color: #B2A4FF;
    color: black;
    border: none;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}