@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap');

/* TEXTOS */

h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    color: $color-principal;
    font-size: xx-large;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
}

h4{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
}
a{
    color: $color-principal;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: medium;
}